*{
    padding: 0px;
    margin: 0px;
}
.box{
    width: 80%;
    height: 80px;
    background-color: rgb(112, 157, 157);
    display: flex;
    align-items: center;
    border-radius: 80px;
    margin: auto;
}
.menu a{text-decoration: none;
    color: aliceblue;

}
ul{
    display: flex;
    flex-flow: row wrap;
    color: aliceblue;
    justify-content: ;
    gap: 40px;  
}
li:hover{
    color: black;
}
.logo{
    height: auto;
    width: 100px;
}
.box-two{
    width: 90%;
    display: flex;
    justify-content: flex-end;
    position: relative;

}
.logo-two{
    width: 40%;
    display: flex;
    justify-content: end;
    gap: 30px;
    font-size: 25px;
}



